.dark-background {
  background-color: #000 !important;
}
.light-header {
  color: #fff;
  font-size: 18px;
}

ion-item {
  --ion-background-color: #000;
}

ion-toggle {
  // zoom: 1.2;
  --background: #fff;
  --background-checked: #01acec;
}

.canvas-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.label-num {
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 25px;
  color: #fff;
  font-weight: bold;
  margin-top: 4px;
  background-color: transparent;
  z-index: 9999;
  .invisible {
    color: transparent;
  }
  .label-num-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10vw;
  }
  .label-num-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10vw;
  }
}

canvas {
  width: 90vw !important;
  height: 45vw !important;
  background-color: transparent;
}
